<div style="padding: 13px;">
</div>
<div id="wrapper">
  <div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
      <div class="container-fluid">
        <div class="d-sm-flex justify-content-between align-items-center mb-4">
          <h3 class="text-dark mb-0">Add Client</h3><a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#"><i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Generate Report</a></div>

      </div>
    </div>
<div>
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Register an Account</div>
      <div class="card-body">
        <form [formGroup]="insertClient" (ngSubmit) = "onClickSubmitClientData()">
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="text" id="firstName" class="form-control" formControlName="fname" placeholder="First name" required="required" autofocus="autofocus">
                  <label for="firstName">First name</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="text" id="lastName" class="form-control" placeholder="lname" required="required" formControlName="lname">
                  <label for="lastName">Last name</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="email" id="inputEmail" class="form-control" formControlName="email" placeholder="Email address" required="required" >
              <label for="inputEmail">Email address</label>
            </div>
          </div>

          <div class="form-group">
            <div class="form-label-group">
              <input type="text" id="userName" class="form-control" formControlName="userName" placeholder="User Name" required="required" >
              <label for="inputEmail">User Name</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="password" id="password" class="form-control" formControlName="password" placeholder="Password" required="required" >
              <label for="inputEmail">Password</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="text" id="streetAddress" class="form-control" formControlName="streetAddress" placeholder="Street Address" required="required" >
              <label for="inputEmail">User Name</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="text" id="city" class="form-control" formControlName="city" placeholder="city" required="required" >
              <label for="inputEmail">city</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="text" id="inputEmail" class="form-control" formControlName="state" placeholder="state" required="required" >
              <label for="inputEmail">state</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="text" id="inputEmail" class="form-control" formControlName="zipcode" placeholder="zipcode" required="required" >
              <label for="inputEmail">zipcode</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="text" id="inputEmail" class="form-control" formControlName="dateOfBirth" placeholder="dateOfBirth" required="required" >
              <label for="inputEmail">dateOfBirth</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="text" id="gender" class="form-control" formControlName="gender" placeholder="gender" required="required" >
              <label for="inputEmail">gender</label>
            </div>
          </div>
<!--          <a class="btn btn-primary btn-block" href="login.html">Register</a>-->
<!--          <a class="btn btn-primary btn-block" type="submit">Register</a>-->
          <button class="btn btn-primary btn-lg btn-shadow" type="submit">LOGIN</button>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="login.html">Login Page</a>
          <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
        </div>
      </div>
    </div>
  </div>
<div><hr/></div>



