<p>view-client works!</p>


<div>
  <h1>Click to test this page</h1>
  <button (click)="getAllClients()">for fucks sake click me now</button>
  {{clients |json}}
  <p *ngFor="let client of clients">{{ client.userName }} has these assests {{client.userInfo.email}}</p>
</div>
<!--////////////////////////-->

      <div class="col-lg-6 col-md-12 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Striped Rows</h5>

            <table class="table table-striped">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let client of clients">
                <th scope="row">{{client.id}}</th>
                <td>{{client.email}}</td>
                <td>{{client.userInfo.phoneNumber || "NA" }}</td>
                <td>{{client.userInfo.address}}</td>
                <td>{{client.userInfo.city}}</td>
                <td>{{client.userInfo.state}}</td>
                <td>{{client.userInfo.zipcode}}</td>
                <td>{{client.userInfo.companyName}}</td>
                <td>{{client.userInfo.address}}</td>
                <td>{{client.userInfo.address}}</td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>



