      <div class="col-lg-12 col-md-12 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Striped Rows</h5>

            <table class="table table-striped">
              <thead>
              <tr>
                <th scope="col">ID#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Email</th>
                <th scope="col">phoneNumber</th>
                <th scope="col">Street Address</th>
                <th scope="col">city</th>
                <th scope="col">state</th>
                <th scope="col">zipcode</th>
                <th scope="col">companyName</th>
                <th scope="col">address</th>
              </tr>
              </thead>

              <tbody>
              <tr *ngFor=" let client of clients ">

                <td scope="row">{{clients.id}}</td>
                <td scope="row">{{clients.userInfo.fname}}</td>
                <td scope="row">{{clients.userInfo.lname}}</td>
                <td>{{clients.userInfo.email}}</td>
                <td>{{clients.userInfo.phoneNumber || "NA" }}</td>
                <td>{{clients.userInfo.address || "NA"}}</td>
                <td>{{clients.userInfo.city || "NA"}}</td>
                <td>{{clients.userInfo.state || "NA"}}</td>
                <td>{{clients.userInfo.zipcode || "NA"}}</td>
                <td>{{clients.userInfo.companyName || "NA"}}</td>
<!--                <td>{{clients.clientAssests.adminurl || "NA"}}</td>
                <td>{{clients.clientAssests.services || "NA"}}</td>
                <td>{{clients.clientAssests.siteurl || "NA"}}</td>-->
              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>

